@model FoundryLanding.Models.Data.Player

@{
    ViewBag.Title = "Authenticating";
    Layout = "_Layout";
}

<h2>Authenticating @Model.Name in world @Model.World.Name</h2>
<a href="#" onclick="join_game('@Model.World.HostName', '@Model.PlayerHash', '@Model.Password')">
    @Model.Name (@Model.PlayerHash): @Model.Password
</a>