@model FoundryLanding.Models.Data.Player

<li>
    <a href="#" onclick="join_game('@Model.World.HostName', '@Model.PlayerHash', '@Model.Password')">
        @Model.Name (@Model.PlayerHash): @Model.Password
    </a>
</li>