@model FoundryLanding.Models.Data.DiscordUser
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi @Model.UserName#@Model.Discriminator!</h1>
</div>
<div id="world-list">
    <ul>
        @foreach (var user in Model.FoundryUsers)
        {
            <li>
                <a href="@user.World.Host.Url/authenticate?playerId=@Model.Id">
                    @user.World.Name: @user.Name (@user.Id) - @user.Password
                </a>
            </li>
        }
    </ul>
</div>

@section Scripts
{
<script type="text/javascript">
function join_game(gameHost, playerId, password) {
  const url = gameHost + "/join"
  const formData = new FormData()
  formData.append("userid", playerId)
  formData.append("password", password)
  
  fetch(url, {
      body: formData,
      method: "POST"
  })
  .then(data => {
      console.log(data)
      return data.json()
  })
  .then(res => {
      console.log(res)
      if ( res.status === "success" ) {
        window.location.href = gameHost + res.redirect
      }
      else {
          console.log("Failure?")
      }
  })
  .catch(error => { console.log(error) })
}
</script>
}
