@model FoundryLanding.Models.Data.DiscordUser
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi @Model.UserName!</h1>
</div>
<div id="world-list">
    <ul>
        @{ var userByWorld = Model.FoundryUsers.GroupBy(u => u.World); }
        @foreach (var uw in userByWorld)
        {
            var w = uw.Key;
            <dl>
                <dt>World: @w.Title</dt>
                <dd>
                    <ul>
                        @foreach (var user in uw)
                        {
                            <li>
                                <a href="@user.World.Host.Url/authenticate?playerId=@user.Id">
                                    @user.Name (@user.Id)
                                </a>
                            </li>
                        }
                    </ul>
                </dd>
            </dl>
        }
    </ul>
</div>