@model FoundryLanding.Models.Data.DiscordUser
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi @Model.UserName!</h1>
</div>
<div id="world-list">
    <ul>
        @{ var userByWorld = Model.FoundryUsers.GroupBy(u => u.World); }
        @foreach (var uw in userByWorld)
        {
            var w = uw.Key;
            <dl>
                <dt>World: @w.Title</dt>
                <dd>
                    <ul>
                        @foreach (var user in uw)
                        {
                            <li>
                                <a href="@user.World.Host.Url/authenticate?playerId=@user.Id">
                                    @user.World.Name: @user.Name (@user.Id) - @user.Password
                                </a>
                            </li>
                        }
                    </ul>
                </dd>
            </dl>
        }
    </ul>
</div>

@section Scripts
{
<script type="text/javascript">
function join_game(gameHost, playerId, password) {
  const url = gameHost + "/join"
  const formData = new FormData()
  formData.append("userid", playerId)
  formData.append("password", password)
  
  fetch(url, {
      body: formData,
      method: "POST"
  })
  .then(data => {
      console.log(data)
      return data.json()
  })
  .then(res => {
      console.log(res)
      if ( res.status === "success" ) {
        window.location.href = gameHost + res.redirect
      }
      else {
          console.log("Failure?")
      }
  })
  .catch(error => { console.log(error) })
}
</script>
}
